.animacao:hover{
    color: #57cc99;
}

.nav-link{
    color: #d9d9d9;
}

header{
    background-color: #22577a;
}

.navbar{
    background-color: #22577a;
}

.navBar{
    background-color: #22577a;
}

section{
    padding: 20px 0;
}

p{
    font-size: 16px;
}

.navbarAccessed{
    color: #57cc99;
}

.accessed{
    font-weight: bold;
}

.navbarIcon{
    height: 50px;
}

.btn{
    background-color: #57cc99;
    border: #57cc99;
}

.btn:hover{
    background-color: #6ae8b1;
    border: #57cc99;
}

.menu{
    margin-top: 65px;
    background-color: #22577a;
    color: #d9d9d9;
}

.sidebarLink{
    text-decoration: none;
    color: black;
}

.sidebarLink2{
    text-decoration: none;
    color: #d9d9d9;
}

.carousel{
    width: 300px;
}

.FerCarousel{
    height: 300px;
}

.FerCarousel-2{
    height: 200px;
    margin-left: -50px;
}

.sobreNos{
    background-color: #22577a;
}

.imgConteudo{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
               
.gapSobre .bi{
    font-size: 20px;
    color: aliceblue;
}

.gapSobre{
    gap: 25px;
}

.offcanvas a{
    text-decoration: none;
    color: black;
}

.menuItem{
    color: #d9d9d9;
}

.conteudo{
    padding-top: 25px;
    padding-bottom: 20px;
}

.divList{
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    width: 80px;
}

.assunto{
    margin-left: 30px;
}

.imgTopico{
    height: 150px;
}